body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  max-width: 400px;
  max-height: 600px;
  overflow: hidden;
}

.card {
  width: 400px;
  height: 600px;
  margin: 0;
  background:  #6bcd92;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

:root {
  /* light theme (default) */
  --primary-color: #000000;
	--secondary-color: #2e2e2e;
	--tertiary-color: #424242;
	--quaternary-color: #f4f4f4;
  --quinternary-color: #ffffff;
	--link-color: #1463b8;

  --primary-font: Verdana, Geneva, Tahoma, sans-serif;
  --secondary-font: Roboto, Verdana;
}