@import "../../../../App.css";

.class-input-block {
  padding-top: 10px;
  padding-bottom: 15px;
  color: var(--tertiary-color);
  font-family: var(--primary-font);
}

.class-input-block h3 {
  margin: 0;
  padding: 10px 0 5px 20px;
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: bold;
}

.class-name-row {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  padding-bottom: 8px;
}

.class-name-row .course-input {
  flex: 0 0 auto !important;
  width: 200px !important;  /* adjust size */
  max-width: 200px !important;
}

.course-input {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid var(--quinternary-color);
  background: var(--background-color);
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: 1.1rem;
  width: 600px;
  max-width: 200px;
  min-width: 200px;
  box-sizing: border-box;
}

/* Day checkboxes */
.day-checkboxes {
  display: flex;
  gap: 12px;
  padding-left: 20px;
  padding-bottom: 8px;
  margin-top: 4px;
}

.day-label {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.85rem;
  color: var(--tertiary-color);
}


.day-label input {
  transform: scale(1.1);
}

/* Time selection row */
.time-row {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-top: 8px;
}

.time-select {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.85rem;
  color: var(--tertiary-color);
}

.time-select select {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid var(--quinternary-color);
  background: var(--background-color);
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: 0.85rem;
}

.class-input-divider {
  border: none;
  border-top: 2px solid var(--quinternary-color);
  height: 0.1rem;
  width: 100%;
  opacity: 10%;
  margin-top: 10px;
}

.time-select select {
  width: 120px;   /* make both selects identical width */
  min-width: 120px;
  max-width: 120px;
  box-sizing: border-box;
}

.time-select select {
  width: 120px;   /* make both selects identical width */
  min-width: 120px;
  max-width: 120px;
  box-sizing: border-box;
}

.classtime-button-container{
  padding-left: 15px;
}