@import "../../../../App.css";

.classtime-card{
    color: var(--tertiary-color);
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
}

.classtimecard-container{
    padding-top: 5px;
    padding-bottom: 5px;
}

.classtimecard-classname {
  margin: 0;
  padding: 10px;
  padding-left: 20px;
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 1.1rem;
  font-weight: bold;
}

.classtimecard-detail {
  margin: 0;
  padding-left: 20px;
  padding-bottom: 5px;
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: 0.8rem;
}

.classtimecard-detail strong {
  color: var(--secondary-color);
  font-weight: 700;
}


.clastimecard-line{
  border: none;
  border-top: 2px solid var(--quinternary-color);
  height: 0.1rem;
  width: 100%;
  opacity: 10%;
  margin: 0;
}

.classtime-buttons{
    padding-left: 15px;
    padding-bottom: 15px;
    align-items: center;
    display: flex;
    gap: 10px;
}

.classtime-editbutton{
    background-color: grey;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.8rem;
}

.classtime-deletebutton{
    background-color: rgb(255, 0, 0);
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.8rem;
}